include ../partials/header.pug

section.contact-intro-wrapper
  div.contact-intro-display
    h2 ..want to know more? Get in touch!
    div.contact-intro-img

section.contact-map-wrapper
  div.contact-map-display
    li
      h2 Select Motorcars Southeast LLC
      p Bradenton/Sarasota, FL
    li
      p Email: selectVettes@cars.com
      p Phone: (813) 205-8132

include ../partials/footer.pug
