secttion.footer-wrapper
  div.footer-display
      a(href="/")  Select Vettes, LLC
      a(href="https://en.m.wikipedia.org/wiki/Car") Select Vettes ©2016
script(type="text/javascript", src="/min-js/functions.js")
