secttion.footer-wrapper
  div.footer-display
      a(href="/") Porsche Collection
      a(href="https://en.wikipedia.org/wiki/Porsche") Porsche Group ©2016
script(type="text/javascript", src="/js/functions.js")
