secttion.footer-wrapper
  div.footer-display
      a(href="/")  Select Vettes, LLC
      a(href="https://en.wikipedia.org/wiki/Porsche") Select Vettes ©2016
script(type="text/javascript", src="/js/functions.js")
