doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Marcellus+SC|Josefin+Sans|Poiret+One' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel="stylesheet",href="/css/main.css")
    script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
    title Select Vettes
  body
    section.nav-wrapper
      div.nav-icon
        span
        span
        span
      div.nav-display
        h1 Select Vettes
        ul
          li: a(href="/") Home
          li: a(href="/") Collection
          li: img(src="/imgs/select-vettes-crop.png")
          li: a(href="/about") About
          li: a(href="#") Contact
