//**************************************
// CONTACT STYLES
//**************************************

.contact-intro-wrapper
  width: 100%
  height: 100%

.contact-intro-display
  width: 100%
  height: 100%
  text-align: center
  position: relative

  h2
    font-size: 40px
    font-weight: normal
    margin: 60px 0

.contact-intro-img
  height: 225px
  background:
    image: url('https://images.unsplash.com/photo-1414509902153-26bed16bc962?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1920&h=1280&q=80')
    size: cover
    repeat: no-repeat
    position: center
    attachment: fixed

.contact-map-wrapper
  width: 100%
  height: 100%
  background: $back-white
  margin-bottom: 30px

.contact-map-display
  width: 100%
  height: 100%

  li
    width: 50%
    height: 300px
    display: inline-block

    h2
      font-size: 30px
      margin: 10px

    p
      font-size: 20px
      margin: 10px
